@using Sociala.ViewModel;
@inject AuthorizationService.IAuthorization Authorization
@inject Sociala.Services.ICheckRelationShip CheckRelationShip
@model Sociala.Models.User
@{
    ViewBag.Title = "Blocks";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0">
        <div class="row">
            


                <div class="row ps-2 pe-2">

                    @foreach (User user in (List<User>)ViewBag.Blocks)
                    {
                    <div class="col-md-3 col-sm-4 pe-2 ps-2">
                        <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                               
                                    <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1">
                                        <img src="@user.UrlPhoto" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                    </figure>
                                
                                <div class="clearfix"></div>
                                <h4 class="fw-700 font-xsss mt-3 mb-1">@user.UesrName </h4>
                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3"></p>
                                <a asp-controller="User" asp-action="UnBlock" asp-route-Id="@user.Id" asp-route-Id="@user.Id" class="mt-0 btn pt-2 pb-2 ps-3 pe-3 lh-24 ms-1 ls-3 d-inline-block rounded-xl font-xsssss fw-700 ls-lg text-white" style="background-color: green;">UnBlock</a>
                            </div>
                        </div>
                    </div>

                        
                    }


                </div>
                </>
            </div>
        </div>

    </div>
</div>
